.earth {
  background-color: teal;
}
.mars {
  background-color: gold;
}
.mercury {
  background-color: brown;
}
.jupiter {
  background-color: coral;
}
.uranus {
  background-color: indigo;
}
.neptune {
  background-color: darkslategrey;
}
.saturn {
  background-color: darkmagenta;
}
.venus {
  background-color: silver;
}
